.layout-content {
    margin-left: 250px;
    padding-top: 70px;
}
.layout-content .content-section {
    padding: 2rem;
}
.layout-content .content-section.introduction {
    background-color: var(--surface-b);
    color: var(--text-color);
    padding-bottom: 0;
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.layout-content .content-section.introduction .feature-intro h1 span {
    font-weight: 400;
    color: var(--text-color-secondary);
}
.layout-content .content-section.introduction .feature-intro p {
    margin: 0;
}
.layout-content .content-section.introduction .feature-intro a {
    text-decoration: none;
    color: #2196f3;
    font-weight: 600;
}
.layout-content .content-section.introduction .feature-intro a:hover {
    text-decoration: underline;
}
.layout-content .content-section.implementation {
    background-color: var(--surface-b);
    color: var(--text-color);
}
.layout-content .content-section.implementation + .documentation {
    padding-top: 0;
}
.layout-content .content-section.documentation {
    background-color: var(--surface-b);
    color: var(--text-color);
}
.layout-content .content-section.documentation li {
    line-height: 1.5;
}
.layout-content .content-section.documentation a {
    text-decoration: none;
    color: #2196f3;
    font-weight: 600;
}
.layout-content .content-section.documentation a:hover {
    text-decoration: underline;
}
.layout-content .content-section.documentation .doc-tablewrapper {
    margin: 1rem 0;
    overflow: auto;
}
.layout-content .content-section.documentation i:not([class~="pi"]) {
    background-color: var(--surface-a);
    color: #2196f3;
    font-family: Monaco, courier, monospace;
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 4px;
    letter-spacing: 0.5px;
    border-radius: 3px;
    font-weight: 600;
    margin: 0 2px;
}
.layout-content .content-section.documentation .p-tabview {
    background: transparent;
    border: 0 none;
}
.layout-content .content-section.documentation .p-tabview .p-tabview-nav {
    border-radius: 0;
    padding: 0;
    border-bottom: 1px solid var(--surface-d);
    background-color: transparent;
}
.layout-content .content-section.documentation .p-tabview .p-tabview-nav li {
    margin-right: 0;
    border: 0 none;
    top: 1px;
    line-height: 1;
}
.layout-content .content-section.documentation .p-tabview .p-tabview-nav li a, .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:visited {
    color: var(--text-color-secondary);
    text-shadow: none;
    height: inherit;
    background-color: transparent;
    border: 0 none;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    transition: border-bottom-color 0.2s;
}
.layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:focus, .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:visited:focus {
    outline: 0 none;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 0 0.2em #bbdefb;
}
.layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:hover, .layout-content .content-section.documentation .p-tabview .p-tabview-nav li a:visited:hover {
    background: transparent;
    text-decoration: none;
}
.layout-content .content-section.documentation .p-tabview .p-tabview-nav li.p-highlight a, .layout-content .content-section.documentation .p-tabview .p-tabview-nav li.p-highlight:hover a {
    background: transparent;
    color: var(--primary-color);
    border-bottom: 1px solid #2196f3;
}
.layout-content .content-section.documentation .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover a {
    color: var(--text-color);
    border-bottom: 1px solid var(--primary-color);
}
.layout-content .content-section.documentation .p-tabview .p-tabview-nav .p-tabview-ink-bar {
    display: none;
}
.layout-content .content-section.documentation .p-tabview .p-tabview-panels {
    background: transparent;
    border: 0 none;
    padding: 2rem 1rem;
}
.layout-content .content-section.documentation .p-tabview .p-tabview-panels .btn-viewsource {
    display: inline-block;
    padding: 0.5rem 1rem;
}
.layout-content .content-section.documentation .p-tabview .p-tabview-panels a {
    text-decoration: none;
    color: #2196f3;
    font-weight: 600;
}
.layout-content .content-section.documentation .p-tabview .p-tabview-panels a:hover {
    text-decoration: underline;
}
.layout-content .content-section .doc-table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--surface-a);
}
.layout-content .content-section .doc-table th {
    border-bottom: 1px solid var(--surface-d);
    padding: 1rem;
    text-align: left;
}
.layout-content .content-section .doc-table tbody td {
    padding: 1rem;
    border-bottom: 1px solid var(--surface-d);
}
.layout-content .card {
    background: var(--surface-e);
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;
    margin-bottom: 2rem;
}
.layout-content .card .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
