/* Home Component*/
.home a {
    text-decoration: none;
    color: #2196f3;
    font-weight: 600;
}
.home a:hover {
    text-decoration: underline;
}
.home p {
    margin-bottom: 2rem;
}
.home .introduction {
    background-color: var(--surface-a);
    background-image: url('../images/home/react-intro-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 147px 30px 167px 50px;
    color: #fff;
    position: relative;
}
.home .introduction.introduction-dark {
    background-image: url('../images/home/react-intro-bg-dark.jpg');
    color: var(--text-color);
}
.home .introduction.introduction-dark .introduction-promo {
    background-image: linear-gradient(90deg, #445c72 0%, transparent 100%);
}
.home .introduction .introduction-promo {
    display: inline-block;
    margin-left: -50px;
    margin-bottom: 20px;
    padding: 10px 50px 10px 175px;
    font-size: 1.5rem;
    background-image: linear-gradient(90deg, #445c72 0%, transparent 100%);
    position: relative;
    color: #fff;
    font-weight: 700;
}
.home .introduction .introduction-promo img {
    position: absolute;
    height: 75px;
    left: 50px;
    top: -12px;
}
.home .introduction .introduction-title {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 24px;
}
.home .introduction .introduction-subtitle {
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 0;
    font-size: 24px;
}
.home .introduction .introduction-devices {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
}
.home .features {
    background-color: var(--surface-b);
    text-align: center;
    padding: 2rem;
}
.home .features .p-col-12 {
    padding: 1rem;
}
.home .features .feature-card {
    background-color: var(--surface-e);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    height: 100%;
    border-radius: 3px;
}
.home .features .feature-card .feature-card-detail {
    padding: 0 2rem 2rem 2rem;
}
.home .features .feature-card p {
    margin-bottom: 0;
}
.home .features img {
    width: 100%;
}
.home .features .feature-name {
    font-weight: 700;
    font-size: 16px;
    margin: 1rem 0;
    display: inline-block;
}
.home .whouses {
    background-color: #34495e;
    color: #eaecee;
    text-align: center;
    padding: 2rem;
}
.home .whouses img {
    height: 30px;
    width: 100%;
}
.home .whouses .p-grid > div {
    padding: 2rem 0.5rem;
}
.home .templates {
    background-color: var(--surface-b);
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid var(--surface-d);
}
.home .templates img {
    width: 100%;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}
.home .primereact-designer {
    background-color: var(--surface-a);
    color: var(--text-color);
    padding: 2rem;
}
.home .primereact-designer img {
    width: 100%;
    margin-bottom: 30px;
}
.home .primereact-designer h4 {
    text-align: center;
}
.home .prosupport {
    border-bottom: 1px solid var(--surface-d);
    background-color: var(--surface-b);
    padding: 2rem;
    color: var(--text-color);
}
.home .prosupport img {
    margin-top: 10px;
}
.home .prosupport .p-md-6:last-child {
    text-align: center;
}
.home .prosupport .action-button {
    display: inline-block;
    margin-top: 1rem;
}
